
<button>button_to 'Log out', session_path, method: :delete</button>

<h1>Favorite Restaurants</h1>

<ul>
    <% @restaurants.each do |restaurant|%>

   <li> <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2> </il>
    
    <% end %>
</ul>





<button><%= link_to "Add new favorite restaurant", new_restaurant_path %></button>
