<h1>Favorite Restaurants</h1>


    <% @restaurants.each do |restaurant|%>

    <h2><%= restaurant.name%></h2>
    <p>Type of food: <%= restaurant.kind %></p>
    <p>Favorite dish: <%= restaurant.bestdish %></p>

    <% end %>

</ul>
